.row{
    color: white;
    margin-left: 20px;
}

.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 20px;
}

.row__posters::-webkit-scrollbar{
    display: none;
}


.row__poster{
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
}
.row__poster:hover {
    transform: scale(1.08);
    opacity: 1;
}

.row__posterLarge {
    max-height: 250px;
}

.row__posterLarge:hover {
    transform: scale(1.09);
    opacity: 1;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.modal_content {
    width: 50%; /* Adjust width as needed */
    padding: 30px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    line-height: 1.8;
}


.detail_items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
    margin-bottom: 10px; 
}

.detail_item {
    margin-right: 20px; /* Space between genre and runtime */
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 30px;
    color: #ccc; /* Change close button color for better visibility */
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.playtrailer__button {
    padding: 10px 15px;
    margin-top: 15px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.youtubeModal {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    transform: translate(30%, 30%, 30%, 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    overflow: auto;
}

.youtubeCloseBtn {
    position: absolute;
    top: 10%;
    right: 15%;
    border: none;
    background: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 1100;
}